body {
    background-color: yellow;
    margin: 0px; padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFEF66; /* Slightly lighter header color */
    z-index: 1000;
    height: 60px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo {
    font-family: 'Rubik', sans-serif;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: 700; /* Use a bold font weight */
    margin-left: 30px;
    background-color: #FFEF66;
  }
  .header .logo a{
   text-decoration: none;
   color: #000;
  }
  .link4{
    background-color: #FFEF66;
  }
  
  .link4 ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    background-color: #FFEF66;
  }
  
  .link4 ul li {
    margin-right: 20px; /* Add spacing between list items */
    
  }
  .link4 ul li:not(:last-child)::after {
    margin-right: 10px; /* Add spacing after the separator */
    background-color: #FFEF66;
  }
  .link4 ul li a {
    text-decoration: none;
    color: #000000;
    background-color: #FFEF66;
  }
  .link4 ul li a:hover{
    text-decoration: underline;
  }

.main {
    text-align: center;
    padding-top: 50px;
}

h1 {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
  
.alphabet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.foods, .sports, .countries, .animals, .miscellaneous {
    display: flex;
    height: 160px;
    justify-content: space-around;
    background-color: FEDE00;
}

.item {
    float: left;
    padding: 0 8px;
    position: relative;
    padding-top: 50px;
}

.item > div {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.div {
    display: block;
    unicode-bidi: isolate;
}

.item > .bottom-image {
    opacity: 0;
}

.item > .bottom-image:hover {
    opacity: 1
}

.top-image {
    position: absolute;
    transition: ease-in-out;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bottom-image {
    opacity: 1;
}
img {
    width: 80px;
    height: 80px;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 5px;
  }
  
  .contact-third {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-third p {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
  }
  
  .footer-icon a {
    margin: 0 8px;
  }
  
  .footer-icon a img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
  }