@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
    background-color: #fede00;
    margin: 0px; padding: 0px;
    font-family: 'rubik';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFEF66; /* Slightly lighter header color */
    z-index: 1000;
    height: 60px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo img{
    margin-left: 30px;
    width: 280px;
  }
  .header .logo a{
   text-decoration: none;
   color: #000;
  }


.main {
    text-align: center;
    padding-top: 50px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'rubik';
}
  
.alphabet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heyboy{
  padding: 0.5% 0 2% 0;
  margin-left: 32%;
  box-sizing: border-box;
  align-items: center;
}
.foods, .sports, .countries, .animals, .miscellaneous {
    display: flex;
    height: 160px;
    justify-content: space-around;
    background-color: FEDE00;
}
.miscellaneous {
  margin-bottom: 20px;
}
.item {
    float: left;
    padding: 0 8px;
    position: relative;
    padding-top: 50px;
}

.item > div {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.div {
    display: block;
    unicode-bidi: isolate;
}

.item > .bottom-image {
    opacity: 0;
}

.item > .bottom-image:hover {
    opacity: 1
}

.top-image {
    position: absolute;
    transition: ease-in-out;
    text-align: center;
    font-family: 'rubik';
    font-weight: bold;
}

.bottom-image {
    opacity: 1;
}
.top-image img,.bottom-image img {
    width: 100px;
    height: 100px;
}
.link4 {
  background-color: #ffef66;
}

.link4 ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  background-color: #ffef66;
}

.link4 ul li {
  margin-right: 20px; /* Add spacing between list items */
}
.link4 ul li:not(:last-child)::after {
  margin-right: 10px; /* Add spacing after the separator */
  background-color: #ffef66;
}
.link4 ul li a {
  text-decoration: none; /* Remove the underline */
  color: #000000; /* Set the text color to black */
  background-color: #ffef66;
}
.footer3 a{
  text-decoration: none; /* Remove the underline */
  color: #ffffff; /* Set the text color to black */
  padding: 0 50px 0 5px;
  width: auto !important;
}
.footer4 a{
  text-decoration: none; /* Remove the underline */
  color: #ffffff; /* Set the text color to black */
  padding: 0 100px 0 5px;
  width: auto !important;
}
.link4 ul li a:hover {
  text-decoration: underline;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  height: 170px;
  line-height: 150%;
}
.footer2 {
  width: 600px;
  display: flex;
  text-align: left;
  padding: 0 100px 0 150px;
  text-decoration: none;
}
.footer2 a{
    text-decoration: none;
}
.contact-third {
  padding: 0 150px 0 250px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-third p {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}
.footer-icon {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

.footer-icon a {
  margin: 0 8px;
}

.footer-icon a img {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}


