/*

Full Page View:

https://codepen.io/GeorgePark/full/aGNjZB/

*/

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", Arial, sans-serif;
	min-height: 100vh;
	padding: 0px 50px 0 50px;
	color: #fcfcfc;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(https://images.unsplash.com/photo-1484953682155-3d2c7dbc325b?w=1280&h=720);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	padding: 0px 50px 0 50px;
	border-radius: 20px;
	border: 8px solid #fcfcfc;
	background-color: rgba(0, 0, 0, 0.82);
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
}

.container::after {
	content: "";
	display: table;
	clear: both;
}

.container > div {
	float: left;
	width: 50%;
}

h1 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
	line-height: 1.5;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	line-height: 1.5;	
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p {
	font-size: 35px;
	font-weight: 400;
	margin: 40px 0;
}

.letter-input {	
	width: 200px;
	height: 30px;
	font-family: inherit;
	font-size: 18px;
	font-weight: 600;
	color: #111;
	border: none;
	background-color: #fcfcfc;
	border-radius: 5px;
	text-align: center;
	text-shadow: none;
	margin: 0 auto 31px;
}

.letter-input::placeholder {
	font-size: 16px;
	color: #666;
}

.letter {
	font-size: 100px;
	font-weight: 400;
}

.pronunciation {
	font-size: 30px;
	font-weight: 400;
	font-style: italic;
}

.morse-code {
	font-weight: 500;
}

.speak-btn {
	font-family: inherit;
	font-size: 18px;
	font-weight: 400;
	color: #fcfcfc;
	background-color: #111;
	border: 3px solid #fafafa;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #000;
	width: 180px;
	height: 50px;
	margin-bottom: 40px;
	cursor: pointer;
	transition: background-color 100ms;
}

.speak-btn:hover {
	background-color: #222;
}

.semaphore {
	position: relative;
	width: 120px;
	height: 120px;
	border: 4px solid #fcfcfc;
	border-radius: 50%;
	margin: 40px auto 50px;
	filter: drop-shadow(2px 2px 2px #000);
}

.semaphore-hand {
	position: absolute;
	top: 50%;
	width: 50%;
	height: 4px;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: transform 250ms;
	background-color: #fcfcfc;
	border-radius: 4px;
}

@media (max-width: 650px) {
	.container > div {
		width: 100%;
	}

	h3 {
		padding-top: 40px;
		border-top: 2px solid #fcfcfc;
	}
}
.link4 {
	background-color: #ffef66;
  }
  
  .link4 ul {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	background-color: #ffef66;
  }
  
  .link4 ul li {
	margin-right: 20px; /* Add spacing between list items */
  }
  .link4 ul li:not(:last-child)::after {
	margin-right: 10px; /* Add spacing after the separator */
	background-color: #ffef66;
  }
  .link4 ul li a {
	text-decoration: none; /* Remove the underline */
	color: #000000; /* Set the text color to black */
	background-color: #ffef66;
  }
  .footer3 a{
	text-decoration: none; /* Remove the underline */
	color: #ffffff; /* Set the text color to black */
	padding: 0 50px 0 5px;
	width: auto !important;
  }
  .footer4 a{
	text-decoration: none; /* Remove the underline */
	color: #ffffff; /* Set the text color to black */
	padding: 0 100px 0 5px;
	width: auto !important;
  }
  .link4 ul li a:hover {
	text-decoration: underline;
  }
  footer {
	background-color: #000;
	color: #fff;
	padding: 20px;
	display: flex;
	height: 170px;
	line-height: 150%;
  }
  .footer2{
	width: 1000px;
	display: flex;
	text-align: left;
	padding: 0 100px 0 90px;
  }
  .contact-third {
	padding: 0 150px 0 250px;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .contact-third p {
	color: #fff;
	text-decoration: none;
	margin: 5px 0;
  }
  .footer-icon {
	display: flex;
	justify-content: center;
	margin: 10px 10px;
  }
  
  .footer-icon a {
	margin: 0 8px;
  }
  
  .footer-icon a img {
	width: 24px;
	height: 24px;
	filter: invert(100%);
  }